<!DOCTYPE html>
<html lang="en">
<head>
  <%= stylesheet_link_tag 'application' %>

  <title>JetSent.io &mdash; Website by Colorlib</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">

</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap">

  <header class=" py-0 bg-white js-sticky-header site-navbar-target" role="banner">

  <div class="site-mobile-menu site-navbar-target ">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <div class="top-bar py-3 bg-light" id="home-section">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-6 text-left">
          <div class="col-6 col-xl-6">
            <h1 class="mb-0 site-logo"><a href="index.html" class="text-black mb-0">JetSent<span class="text-primary">.</span>io - Coming Soon</a></h1>
          </div>
        </div>

          <div class="d-flex" style="width:50%">
            <input type="text" class="form-control rounded-0" placeholder="Enter a link to your product from any site" style="width:90%;height:unset">
            <input type="submit" class="btn btn-black btn-outline-black ml-1 rounded-0" value="Subscribe" style="height:unset">
          </div>
          <!--
          <ul class="social-media">
            <li><a href="#" class=""><span class="icon-facebook"></span></a></li>
            <li><a href="#" class=""><span class="icon-twitter"></span></a></li>
            <li><a href="#" class=""><span class="icon-instagram"></span></a></li>
          </ul>
          -->

        </div>
        <div class="col-6">
          <p class="mb-0 float-right">
            <span class="mr-3"><a href="tel://#"> <span class="icon-phone mr-2" style="position: relative; top: 2px;"></span><span class="d-none d-lg-inline-block text-black">(+44) 077 1818 2079</span></a></span>
            <span><a href="#"><span class="icon-envelope mr-2" style="position: relative; top: 2px;"></span><span class="d-none d-lg-inline-block text-black">shop@jetsent.io</span></a></span>
          </p>

        </div>
      </div>
    </div>

    <div class="site-navbar">


            <div id="nav_list">

            <ul class="site-menu main-menu js-clone-nav " id="nav_list">
              <li><a href="#home-section" class="nav-link">Home</a></li>
              <li><a href="#products-section" class="nav-link">Products</a></li>
              <li><a href="#about-section" class="nav-link">About Us</a></li>
              <li><a href="#special-section" class="nav-link">Special</a></li>
              <li><a href="#testimonials-section" class="nav-link">Testimonials</a></li>
              <li><a href="#blog-section" class="nav-link">Blog</a></li>
              <li><a href="#contact-section" class="nav-link">Contact</a></li>
            </ul>
            </div>
        </div>
    </div>



  </header>
</div>



  <div class="site-blocks-cover overlay" style="background-image: url(/images/hero_2.jpg); position:relative !important;" data-aos="fade" data-stellar-background-ratio="0.5"
      >

    <div class="container">
      <div class="row align-items-center justify-content-center">

        <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">

          <div class="row mb-4">
            <div class="col-md-7">
              <h1>Shop or Earn Abroad</h1>
              <p class="mb-5 lead font-weight-bold">Buy fashion, electronics and health supplements.
                JetSent connects shoppers and travelers who help each other access the world.
              </p>
              <br>
                <div>
                <a href="#" class="btn btn-white btn-outline-white py-3 px-5 mb-lg-0 mb-2 d-block d-sm-inline-block">Shop Now</a>
                <a href="#" class="btn btn-white py-3 px-5 d-block d-sm-inline-block">Earn</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- services section -->

<!--
<div class="site-section bg-light" id="services-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h3 class="section-sub-title">Our Services</h3>
        <h2 class="section-title mb-3">We Offer Services</h2>
      </div>
    </div>
    <div class="row align-items-stretch">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4"><span class="text-primary icon-shopping-bag"></span></div>
          <div>
            <h3>Shoppers</h3>
            <p>Sit back and relax at home while you shop around the world. Whether looking to save, or buy luxury from abroad  - come to us! .</p>
            <p><a href="#">Learn More</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4"><span class="text-primary icon-plane"></span></div>
          <div>
            <h3>Travellers</h3>
            <p>Want to make a bit of extra cash on your holiday? The average Traveller earns a commission of $50 per purchase - with
            an average of 250$ per flight. </p>
            <p><a href="#">Learn More</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4"><span class="text-primary icon-people"></span></div>
          <div>
            <h3>Travel Agents</h3>
            <p>We are looking to Partner with you! Advertisers earn commission for referrals. Hot destinations include
            Brazil, Argentina, Emirates, Russia and China.</p>
            <p><a href="#">Learn More</a></p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
-->

<div class="site-section border-bottom" id="team-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <!--<h3 class="section-sub-title">W</h3> -->
        <h2 class="section-title mb-3">What We do!</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
        <div class="person text-center">
          <img src="images/model_1_bg.jpg" alt="Image" class="img-fluid rounded w-75 mb-3">
          <h3>Shoppers</h3>
          <p class="position text-muted">Shop Abroad From Hom</p>
          <p class="mb-4">Sit back and relax at home while you shop around the world. Whether looking to save, or buy luxury from abroad  - come to us for what you need!</p>

        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
        <div class="person text-center">
          <img src="images/product_1_bg.jpg" alt="Image" class="img-fluid rounded w-75 mb-3">
          <h3>Travellers</h3>
          <p class="position text-muted">Cover Cost of Flying</p>
          <p class="mb-4">Want to make a bit of extra cash on your holiday? The average Traveller earns a commission of $50 per purchase - with
            an average of 250$ per flight.</p>

        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
        <div class="person text-center">
          <img src="images//model_5_bg.jpg" alt="Image" class="img-fluid rounded w-75 mb-3">
          <h3> Travel Agents </h3>
          <p class="position text-muted">Get Commissions</p>
          <p class="mb-4">We are looking to Partner with you! Advertisers earn commission for referrals. Hot destinations include
            Brazil, Argentina, Emirates, Russia and China. We give 50%</p>

        </div>
      </div>
    </div>
  </div>
</div>





<!-- services section -->

<div class="site-section bg-light" id="services-section">


  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h3 class="section-sub-title">Easy as 1-2-6</h3>
        <h2 class="section-title mb-3">How it works!</h2>
      </div>
    </div>
    <div class="row align-items-stretch">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4 underline"><span class="text-primary">1</span></div>
          <div>
            <h3>Get A Link</h3>
            <p>Find a link for a product anywhere in the world you like, and paste it into the search bar above! Proceed to Checkout.  </p>
            <hr>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4 underline"><span class="text-primary">2</span></div>
          <div>
            <h3>Match with Deliverer</h3>
            <p>Once you have placed your order, a trusted deliverer will match with you to fulfil your orders.</p>
            <hr>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4 underline"><span class="text-primary">3</span></div>
          <div>
            <h3>Confirm Order Details</h3>
            <p> Agree a Time, Pick-Up Location and Commission to Pay the deliverer. </p>
            <hr>
          </div>
        </div>
      </div>


        <!-- 2nd row -->

      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="300">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4 underline"><span class="text-primary">4</span></div>
          <div>
            <h3>Payment</h3>
            <p>Pay using our third party escrow. The deliverer will not be
            paid until your order is fulfilled. </p>
            <hr>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="400">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4 underline"><span class="text-primary">5</span></div>
          <div>
            <h3>Order Fulfilled</h3>
            <p>We use tracking information to monitor whether an order is fulfilled. Once it is, payment from the escrow
            moves to the deliverer. </p>
            <hr>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="500">
        <div class="unit-4 d-flex">
          <div class="unit-4-icon mr-4 underline"><span class="text-primary">6</span></div>
          <div>
            <h3>Relax!</h3>
            <p>Once your order has been fulfilled, you can kick back, relax and enjoy the product!</p>
          <hr>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- count down to launch -->

<div class="site-blocks-cover overlay get-notification" id="special-section" style="background-image: url(images/hero_2.jpg); background-attachment: fixed; background-position: top;" data-aos="fade">
  <div class="container">

    <div class="row align-items-center justify-content-center">
      <div class="col-md-7 text-center">
        <h3 class="section-sub-title">Become a Jet-Setter</h3>
        <h3 class="section-title text-white mb-4">Launch Countdown</h3>
        <p class="mb-5 lead">Sign up before the exclusive offer expires. We are offering 50% discounts on commissions if you sign early. </p>

        <div id="date-countdown" class="mb-5"></div>

        <p><a href="#" class="btn btn-white btn-outline-white py-3 px-5 rounded-0 mb-lg-0 mb-2 d-block d-sm-inline-block">Shop Now</a></p>
      </div>
    </div>

  </div>
</div>


<!--

  <div class="site-section" id="products-section">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-6 text-center">
          <h3 class="section-sub-title">Popular Products</h3>
          <h2 class="section-title mb-3">Our Products</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nostrum natus excepturi fuga ullam accusantium vel ut eveniet aut consequatur laboriosam ipsam.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="product-item">
            <figure>
              <img src="/images/model_1_bg.jpg" alt="Image" class="img-fluid">
            </figure>
            <div class="px-4">
              <h3><a href="#">Wild West Hoodie</a></h3>
              <div class="mb-3">
                <span class="meta-icons mr-3"><a href="#" class="mr-2"><span class="icon-star text-warning"></span></a> 5.0</span>
                <span class="meta-icons wishlist"><a href="#" class="mr-2"><span class="icon-heart"></span></a> 29</span>
              </div>
              <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
              <div>
                <a href="#" class="btn btn-black mr-1 rounded-0">Cart</a>
                <a href="#" class="btn btn-black btn-outline-black ml-1 rounded-0">View</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-5">
          <div class="product-item">
            <figure>
              <img src="images/model_2_bg.jpg" alt="Image" class="img-fluid">
            </figure>
            <div class="px-4">
              <h3><a href="#">Wild West Hoodie</a></h3>
              <div class="mb-3">
                <span class="meta-icons mr-3"><a href="#" class="mr-2"><span class="icon-star text-warning"></span></a> 5.0</span>
                <span class="meta-icons wishlist active"><a href="#" class="mr-2"><span class="icon-heart"></span></a> 29</span>
              </div>
              <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
              <div>
                <a href="#" class="btn btn-black mr-1 rounded-0">Cart</a>
                <a href="#" class="btn btn-black btn-outline-black ml-1 rounded-0">View</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-5">
          <div class="product-item">
            <figure>
              <img src="images/model_3_bg.jpg" alt="Image" class="img-fluid">
            </figure>
            <div class="px-4">
              <h3><a href="#">Wild West Hoodie</a></h3>
              <div class="mb-3">
                <span class="meta-icons mr-3"><a href="#" class="mr-2"><span class="icon-star text-warning"></span></a> 5.0</span>
                <span class="meta-icons wishlist"><a href="#" class="mr-2"><span class="icon-heart"></span></a> 29</span>
              </div>
              <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
              <div>
                <a href="#" class="btn btn-black mr-1 rounded-0">Cart</a>
                <a href="#" class="btn btn-black btn-outline-black ml-1 rounded-0">View</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-5">
          <div class="product-item">
            <figure>
              <img src="images/model_4_bg.jpg" alt="Image" class="img-fluid">
            </figure>
            <div class="px-4">
              <h3><a href="#">Wild West Hoodie</a></h3>
              <div class="mb-3">
                <span class="meta-icons mr-3"><a href="#" class="mr-2"><span class="icon-star text-warning"></span></a> 5.0</span>
                <span class="meta-icons wishlist"><a href="#" class="mr-2"><span class="icon-heart"></span></a> 29</span>
              </div>
              <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
              <div>
                <a href="#" class="btn btn-black mr-1 rounded-0">Cart</a>
                <a href="#" class="btn btn-black btn-outline-black ml-1 rounded-0">View</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-5">
          <div class="product-item">
            <figure>
              <img src="images/model_5_bg.jpg" alt="Image" class="img-fluid">
            </figure>
            <div class="px-4">
              <h3><a href="#">Wild West Hoodie</a></h3>
              <div class="mb-3">
                <span class="meta-icons mr-3"><a href="#" class="mr-2"><span class="icon-star text-warning"></span></a> 5.0</span>
                <span class="meta-icons wishlist"><a href="#" class="mr-2"><span class="icon-heart"></span></a> 29</span>
              </div>
              <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
              <div>
                <a href="#" class="btn btn-black mr-1 rounded-0">Cart</a>
                <a href="#" class="btn btn-black btn-outline-black ml-1 rounded-0">View</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-5">
          <div class="product-item">
            <figure>
              <img src="images/product_1_bg.jpg" alt="Image" class="img-fluid">
            </figure>
            <div class="px-4">
              <h3><a href="#">Wild West Hoodie</a></h3>
              <div class="mb-3">
                <span class="meta-icons mr-3"><a href="#" class="mr-2"><span class="icon-star text-warning"></span></a> 5.0</span>
                <span class="meta-icons wishlist"><a href="#" class="mr-2"><span class="icon-heart"></span></a> 29</span>
              </div>
              <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
              <div>
                <a href="#" class="btn btn-black mr-1 rounded-0">Cart</a>
                <a href="#" class="btn btn-black btn-outline-black ml-1 rounded-0">View</a>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="site-blocks-cover inner-page-cover overlay get-notification"  style="background-image: url(images/hero_2.jpg); background-attachment: fixed;" data-aos="fade">
    <div class="container">

      <div class="row align-items-center justify-content-center">
        <form class="col-md-7" method="post">
          <h2>Get notified on each updates.</h2>
          <div class="d-flex mb-4">
            <input type="text" class="form-control rounded-0" placeholder="Enter your email address">
            <input type="submit" class="btn btn-white btn-outline-white rounded-0" value="Shop Now">
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat commodi veniam doloremque ducimus tempora.</p>
        </form>
      </div>

    </div>
  </div>

  <div class="site-section bg-light">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-6 text-center">
          <h3 class="section-sub-title">Awesome Products</h3>
          <h2 class="section-title mb-3">Featured Products</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nostrum natus excepturi fuga ullam accusantium vel ut eveniet aut consequatur laboriosam ipsam.</p>
        </div>
      </div>
      <div class="bg-white py-4 mb-4">
        <div class="row mx-4 my-4 product-item-2 align-items-start">
          <div class="col-md-6 mb-5 mb-md-0">
            <img src="images/model_1_bg.jpg" alt="Image" class="img-fluid">
          </div>

          <div class="col-md-5 ml-auto product-title-wrap">
            <span class="number">01.</span>
            <h3 class="text-black mb-4 font-weight-bold">About This Product</h3>
            <p class="mb-4">Et tempora id nostrum saepe amet doloribus deserunt totam officiis cupiditate asperiores quasi accusantium voluptatum dolorem quae sapiente voluptatem ratione odio iure blanditiis earum fuga molestiae alias dicta perferendis inventore!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus soluta assumenda sed optio, error at?</p>

            <div class="mb-4">
              <h3 class="text-black font-weight-bold h5">Price:</h3>
              <div class="price"><del class="mr-2">$269.00</del> $69.00</div>
            </div>
            <p>
              <a href="#" class="btn btn-black btn-outline-black rounded-0 d-block mb-2 mb-lg-0 d-lg-inline-block">View Details</a>
              <a href="#" class="btn btn-black rounded-0 d-block d-lg-inline-block">Add To Cart</a>
            </p>
          </div>
        </div>
      </div>

      <div class="bg-white py-4">
        <div class="row mx-4 my-4 product-item-2 align-items-start">
          <div class="col-md-6 mb-5 mb-md-0 order-1 order-md-2">
            <img src="images/product_1_bg.jpg" alt="Image" class="img-fluid">
          </div>

          <div class="col-md-5 mr-auto product-title-wrap order-2 order-md-1">
            <span class="number">02.</span>
            <h3 class="text-black mb-4 font-weight-bold">About This Product</h3>
            <p class="mb-4">Et tempora id nostrum saepe amet doloribus deserunt totam officiis cupiditate asperiores quasi accusantium voluptatum dolorem quae sapiente voluptatem ratione odio iure blanditiis earum fuga molestiae alias dicta perferendis inventore!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus soluta assumenda sed optio, error at?</p>

            <div class="mb-4">
              <h3 class="text-black font-weight-bold h5">Price:</h3>
              <div class="price"><del class="mr-2">$269.00</del> $69.00</div>
            </div>
            <p>
              <a href="#" class="btn btn-black btn-outline-black rounded-0 d-block mb-2 mb-lg-0 d-lg-inline-block">View Details</a>
              <a href="#" class="btn btn-black rounded-0 d-block d-lg-inline-block">Add To Cart</a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
 -->


<!-- About section! -->


  <div class="site-section" id="about-section">
    <div class="container">
      <div class="row align-items-lg-center">
        <div class="col-md-8 mb-5 mb-lg-0 position-relative">
          <img src="images/about_1.jpg" class="img-fluid" alt="Image">
          <div class="experience">
            <span class="year">Trusted Merchant</span>
            <span class="caption">for 50 years</span>
          </div>
        </div>
        <div class="col-md-3 ml-auto">
          <h3 class="section-sub-title">Merchant Company</h3>
          <h2 class="section-title mb-3">About</h2>
          <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui fuga ipsa, repellat blanditiis nihil, consectetur. Consequuntur eum inventore, rem maxime, nisi excepturi ipsam libero ratione adipisci alias eius vero vel!</p>
          <p><a href="#" class="btn btn-black btn-black--hover rounded-0">Learn More</a></p>
        </div>
      </div>
    </div>
  </div>



  <div class="site-section border-bottom" id="team-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h3 class="section-sub-title">Team</h3>
          <h2 class="section-title mb-3">Leadership</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6 mb-6 mb-lg-6" data-aos="fade" data-aos-delay="100">
          <div class="person text-center">
            <img src="images/person_2.jpg" alt="Image" class="img-fluid rounded w-75 mb-3">
            <h3>Maximilian Chamberlin</h3>
            <p class="position text-muted">Co-Founder, Executive Officer</p>
            <p class="mb-4">Maximilian studied Computer Science and Philosophy at Oxford. He has a Machine Learning Master's which was funded by Google and Microsoft.
            </p>
            <ul class="ul-social-circle">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 mb-6 mb-lg-6" data-aos="fade" data-aos-delay="200">
          <div class="person text-center">
            <img src="images/person_3.jpg" alt="Image" class="img-fluid rounded w-75 mb-3">
            <h3>Tom Sharp</h3>
            <p class="position text-muted">Co-Founder, Executive Officer</p>
            <p class="mb-4">Edozie is an alumnus of Harvard University Computer Science Bachelor's Program. He has two sisters who model clothes on the runway and has always been passionate about fashion and e-commerce.</p>
            <ul class="ul-social-circle">
              <li><a href="#"><span class="icon-facebook"></span></a></li>
              <li><a href="#"><span class="icon-twitter"></span></a></li>
              <li><a href="#"><span class="icon-linkedin"></span></a></li>
              <li><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- site section -->



  <div class="site-section testimonial-wrap" id="testimonials-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h3 class="section-sub-title">People Says</h3>
          <h2 class="section-title mb-3">Testimonials</h2>
        </div>
      </div>
    </div>
    <div class="slide-one-item home-slider owl-carousel">
      <div>
        <div class="testimonial">
          <figure class="mb-4 d-block align-items-center justify-content-center">
            <div><img src="images/person_3.jpg" alt="Image" class="w-100 img-fluid mb-3"></div>
          </figure>
          <blockquote class="mb-3">
            <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
          </blockquote>
          <p class="text-black"><strong>John Smith</strong></p>


        </div>
      </div>
      <div>
        <div class="testimonial">

          <figure class="mb-4 d-block align-items-center justify-content-center">
            <div><img src="images/person_2.jpg" alt="Image" class="w-100 img-fluid mb-3"></div>
          </figure>

          <blockquote class="mb-3">
            <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
          </blockquote>

          <p class="text-black"><strong>Robert Aguilar</strong></p>


        </div>
      </div>

      <div>
        <div class="testimonial">
          <figure class="mb-4 d-block align-items-center justify-content-center">
            <div><img src="images/person_4.jpg" alt="Image" class="w-100 img-fluid mb-3"></div>
          </figure>
          <blockquote class="mb-3">
            <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
          </blockquote>
          <p class="text-black"><strong>Roger Spears</strong></p>


        </div>

      </div>

      <div>
        <div class="testimonial">
          <figure class="mb-4 d-block align-items-center justify-content-center">
            <div><img src="images/person_1.jpg" alt="Image" class="w-100 img-fluid mb-3"></div>
          </figure>
          <blockquote class="mb-3">
            <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
          </blockquote>
          <p class="text-black"><strong>Kyle McDonald</strong></p>


        </div>

      </div>

    </div>
  </div>



  <footer class="site-footer bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-5">
              <h2 class="footer-heading mb-4">About Us</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque facere laudantium magnam voluptatum autem. Amet aliquid nesciunt veritatis aliquam.</p>
            </div>
            <div class="col-md-3 ">
              <h2 class="footer-heading mb-4">Quick Links</h2>
              <ul class="list-unstyled">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h2 class="footer-heading mb-4">Follow Us</h2>
              <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </div>
          </div>
        </div>
        <div class="col-md-3 ml-auto">
          <h2 class="footer-heading mb-4">Featured Product</h2>
          <a href="#"><img src="images/product_1_bg.jpg" alt="Image" class="img-fluid mb-3"></a>
          <h4 class="h5">Leather Brown Shoe</h4>
          <strong class="text-black mb-3 d-inline-block">$60.00</strong>
          <p><a href="#" class="btn btn-black rounded-0">Add to Cart</a></p>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>

      </div>
    </div>
  </footer>

</div>

<%= javascript_include_tag "application" %>

<!-- .site-wrap -->


<!--



<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>

<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/aos.js"></script>

<script src="js/jquery.fancybox.min.js"></script>
<script src="js/jquery.sticky.js"></script>


<script src="js/main.js"></script>
-->

</body>
</html>